{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <img src="{% static 'images/kafu_logo.png' %}" class="logo">

    <h2>KAFU Document Management System </h2>
    <h3>Create Account</h3>

    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <form method="POST" onkeyup="checkPasswordMatch()">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email Address" required>

        <!-- Password -->
        <div class="password-wrapper">
            <input type="password" id="password1" name="password1" placeholder="Password" required>
            <button type="button" class="toggle-btn" onclick="togglePassword('password1', this)">Show</button>
        </div>

        <!-- Confirm Password -->
        <div class="password-wrapper">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
            <button type="button" class="toggle-btn" onclick="togglePassword('password2', this)">Show</button>
        </div>

        <div id="match-message" style="font-size: 13px; margin-bottom:10px;"></div>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login </a></p>
</div>

<script>
function togglePassword(fieldId, btn) {
    let field = document.getElementById(fieldId);

    if (field.type === "password") {
        field.type = "text";
        btn.textContent = "Hide";
    } else {
        field.type = "password";
        btn.textContent = "Show";
    }
}

function checkPasswordMatch() {
    let pass1 = document.getElementById("password1").value;
    let pass2 = document.getElementById("password2").value;
    let message = document.getElementById("match-message");

    if (pass2.length === 0) {
        message.innerHTML = "";
        return;
    }

    if (pass1 === pass2) {
        message.style.color = "green";
        message.innerHTML = "✓ Passwords match";
    } else {
        message.style.color = "red";
        message.innerHTML = "✗ Passwords do not match";
    }
}
</script>

</body>
</html>